/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-close-x: 0px
$s-close-y: 50px
$s-close-offset-x: 0px
$s-close-offset-y: -50px
$s-close-width: 19px
$s-close-height: 21px
$s-close-total-width: 106px
$s-close-total-height: 87px
$s-close-image: 'img/sprite.png'
$s-close: 0px 50px 0px -50px 19px 21px 106px 87px 'media/img/sprite.png'
$s-close_h-x: 68px
$s-close_h-y: 20px
$s-close_h-offset-x: -68px
$s-close_h-offset-y: -20px
$s-close_h-width: 19px
$s-close_h-height: 21px
$s-close_h-total-width: 106px
$s-close_h-total-height: 87px
$s-close_h-image: 'img/sprite.png'
$s-close_h: 68px 20px -68px -20px 19px 21px 106px 87px 'media/img/sprite.png'
$s-del-x: 0px
$s-del-y: 71px
$s-del-offset-x: 0px
$s-del-offset-y: -71px
$s-del-width: 16px
$s-del-height: 16px
$s-del-total-width: 106px
$s-del-total-height: 87px
$s-del-image: 'img/sprite.png'
$s-del: 0px 71px 0px -71px 16px 16px 106px 87px 'media/img/sprite.png'
$s-down-x: 46px
$s-down-y: 71px
$s-down-offset-x: -46px
$s-down-offset-y: -71px
$s-down-width: 13px
$s-down-height: 12px
$s-down-total-width: 106px
$s-down-total-height: 87px
$s-down-image: 'img/sprite.png'
$s-down: 46px 71px -46px -71px 13px 12px 106px 87px 'media/img/sprite.png'
$s-error-x: 20px
$s-error-y: 28px
$s-error-offset-x: -20px
$s-error-offset-y: -28px
$s-error-width: 20px
$s-error-height: 20px
$s-error-total-width: 106px
$s-error-total-height: 87px
$s-error-image: 'img/sprite.png'
$s-error: 20px 28px -20px -28px 20px 20px 106px 87px 'media/img/sprite.png'
$s-file-x: 73px
$s-file-y: 50px
$s-file-offset-x: -73px
$s-file-offset-y: -50px
$s-file-width: 14px
$s-file-height: 15px
$s-file-total-width: 106px
$s-file-total-height: 87px
$s-file-image: 'img/sprite.png'
$s-file: 73px 50px -73px -50px 14px 15px 106px 87px 'media/img/sprite.png'
$s-google-x: 16px
$s-google-y: 71px
$s-google-offset-x: -16px
$s-google-offset-y: -71px
$s-google-width: 16px
$s-google-height: 16px
$s-google-total-width: 106px
$s-google-total-height: 87px
$s-google-image: 'img/sprite.png'
$s-google: 16px 71px -16px -71px 16px 16px 106px 87px 'media/img/sprite.png'
$s-link-x: 88px
$s-link-y: 18px
$s-link-offset-x: -88px
$s-link-offset-y: -18px
$s-link-width: 17px
$s-link-height: 17px
$s-link-total-width: 106px
$s-link-total-height: 87px
$s-link-image: 'img/sprite.png'
$s-link: 88px 18px -88px -18px 17px 17px 106px 87px 'media/img/sprite.png'
$s-link_h-x: 88px
$s-link_h-y: 52px
$s-link_h-offset-x: -88px
$s-link_h-offset-y: -52px
$s-link_h-width: 17px
$s-link_h-height: 17px
$s-link_h-total-width: 106px
$s-link_h-total-height: 87px
$s-link_h-image: 'img/sprite.png'
$s-link_h: 88px 52px -88px -52px 17px 17px 106px 87px 'media/img/sprite.png'
$s-pen-x: 57px
$s-pen-y: 50px
$s-pen-offset-x: -57px
$s-pen-offset-y: -50px
$s-pen-width: 16px
$s-pen-height: 16px
$s-pen-total-width: 106px
$s-pen-total-height: 87px
$s-pen-image: 'img/sprite.png'
$s-pen: 57px 50px -57px -50px 16px 16px 106px 87px 'media/img/sprite.png'
$s-person-x: 24px
$s-person-y: 0px
$s-person-offset-x: -24px
$s-person-offset-y: 0px
$s-person-width: 24px
$s-person-height: 28px
$s-person-total-width: 106px
$s-person-total-height: 87px
$s-person-image: 'img/sprite.png'
$s-person: 24px 0px -24px 0px 24px 28px 106px 87px 'media/img/sprite.png'
$s-person_h-x: 0px
$s-person_h-y: 0px
$s-person_h-offset-x: 0px
$s-person_h-offset-y: 0px
$s-person_h-width: 24px
$s-person_h-height: 28px
$s-person_h-total-width: 106px
$s-person_h-total-height: 87px
$s-person_h-image: 'img/sprite.png'
$s-person_h: 0px 0px 0px 0px 24px 28px 106px 87px 'media/img/sprite.png'
$s-plus-x: 32px
$s-plus-y: 71px
$s-plus-offset-x: -32px
$s-plus-offset-y: -71px
$s-plus-width: 14px
$s-plus-height: 14px
$s-plus-total-width: 106px
$s-plus-total-height: 87px
$s-plus-image: 'img/sprite.png'
$s-plus: 32px 71px -32px -71px 14px 14px 106px 87px 'media/img/sprite.png'
$s-plus1-x: 88px
$s-plus1-y: 35px
$s-plus1-offset-x: -88px
$s-plus1-offset-y: -35px
$s-plus1-width: 17px
$s-plus1-height: 17px
$s-plus1-total-width: 106px
$s-plus1-total-height: 87px
$s-plus1-image: 'img/sprite.png'
$s-plus1: 88px 35px -88px -35px 17px 17px 106px 87px 'media/img/sprite.png'
$s-plus2-x: 41px
$s-plus2-y: 50px
$s-plus2-offset-x: -41px
$s-plus2-offset-y: -50px
$s-plus2-width: 16px
$s-plus2-height: 16px
$s-plus2-total-width: 106px
$s-plus2-total-height: 87px
$s-plus2-image: 'img/sprite.png'
$s-plus2: 41px 50px -41px -50px 16px 16px 106px 87px 'media/img/sprite.png'
$s-question-x: 68px
$s-question-y: 0px
$s-question-offset-x: -68px
$s-question-offset-y: 0px
$s-question-width: 20px
$s-question-height: 20px
$s-question-total-width: 106px
$s-question-total-height: 87px
$s-question-image: 'img/sprite.png'
$s-question: 68px 0px -68px 0px 20px 20px 106px 87px 'media/img/sprite.png'
$s-question_h-x: 40px
$s-question_h-y: 28px
$s-question_h-offset-x: -40px
$s-question_h-offset-y: -28px
$s-question_h-width: 20px
$s-question_h-height: 20px
$s-question_h-total-width: 106px
$s-question_h-total-height: 87px
$s-question_h-image: 'img/sprite.png'
$s-question_h: 40px 28px -40px -28px 20px 20px 106px 87px 'media/img/sprite.png'
$s-settings-x: 0px
$s-settings-y: 28px
$s-settings-offset-x: 0px
$s-settings-offset-y: -28px
$s-settings-width: 20px
$s-settings-height: 22px
$s-settings-total-width: 106px
$s-settings-total-height: 87px
$s-settings-image: 'img/sprite.png'
$s-settings: 0px 28px 0px -28px 20px 22px 106px 87px 'media/img/sprite.png'
$s-settings_h-x: 48px
$s-settings_h-y: 0px
$s-settings_h-offset-x: -48px
$s-settings_h-offset-y: 0px
$s-settings_h-width: 20px
$s-settings_h-height: 22px
$s-settings_h-total-width: 106px
$s-settings_h-total-height: 87px
$s-settings_h-image: 'img/sprite.png'
$s-settings_h: 48px 0px -48px 0px 20px 22px 106px 87px 'media/img/sprite.png'
$s-success-x: 19px
$s-success-y: 50px
$s-success-offset-x: -19px
$s-success-offset-y: -50px
$s-success-width: 22px
$s-success-height: 17px
$s-success-total-width: 106px
$s-success-total-height: 87px
$s-success-image: 'img/sprite.png'
$s-success: 19px 50px -19px -50px 22px 17px 106px 87px 'media/img/sprite.png'
$s-up-x: 59px
$s-up-y: 71px
$s-up-offset-x: -59px
$s-up-offset-y: -71px
$s-up-width: 13px
$s-up-height: 12px
$s-up-total-width: 106px
$s-up-total-height: 87px
$s-up-image: 'img/sprite.png'
$s-up: 59px 71px -59px -71px 13px 12px 106px 87px 'media/img/sprite.png'
$s-ya-x: 88px
$s-ya-y: 0px
$s-ya-offset-x: -88px
$s-ya-offset-y: 0px
$s-ya-width: 18px
$s-ya-height: 18px
$s-ya-total-width: 106px
$s-ya-total-height: 87px
$s-ya-image: 'img/sprite.png'
$s-ya: 88px 0px -88px 0px 18px 18px 106px 87px 'media/img/sprite.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
