/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-close-x: 40px
$s-close-y: 0px
$s-close-offset-x: -40px
$s-close-offset-y: 0px
$s-close-width: 19px
$s-close-height: 21px
$s-close-total-width: 72px
$s-close-total-height: 59px
$s-close-image: 'img/sprite.png'
$s-close: 40px 0px -40px 0px 19px 21px 72px 59px 'media/img/sprite.png'
$s-close_h-x: 0px
$s-close_h-y: 22px
$s-close_h-offset-x: 0px
$s-close_h-offset-y: -22px
$s-close_h-width: 19px
$s-close_h-height: 21px
$s-close_h-total-width: 72px
$s-close_h-total-height: 59px
$s-close_h-image: 'img/sprite.png'
$s-close_h: 0px 22px 0px -22px 19px 21px 72px 59px 'media/img/sprite.png'
$s-del-x: 16px
$s-del-y: 43px
$s-del-offset-x: -16px
$s-del-offset-y: -43px
$s-del-width: 16px
$s-del-height: 16px
$s-del-total-width: 72px
$s-del-total-height: 59px
$s-del-image: 'img/sprite.png'
$s-del: 16px 43px -16px -43px 16px 16px 72px 59px 'media/img/sprite.png'
$s-down-x: 46px
$s-down-y: 43px
$s-down-offset-x: -46px
$s-down-offset-y: -43px
$s-down-width: 13px
$s-down-height: 12px
$s-down-total-width: 72px
$s-down-total-height: 59px
$s-down-image: 'img/sprite.png'
$s-down: 46px 43px -46px -43px 13px 12px 72px 59px 'media/img/sprite.png'
$s-pen-x: 0px
$s-pen-y: 43px
$s-pen-offset-x: 0px
$s-pen-offset-y: -43px
$s-pen-width: 16px
$s-pen-height: 16px
$s-pen-total-width: 72px
$s-pen-total-height: 59px
$s-pen-image: 'img/sprite.png'
$s-pen: 0px 43px 0px -43px 16px 16px 72px 59px 'media/img/sprite.png'
$s-plus-x: 32px
$s-plus-y: 43px
$s-plus-offset-x: -32px
$s-plus-offset-y: -43px
$s-plus-width: 14px
$s-plus-height: 14px
$s-plus-total-width: 72px
$s-plus-total-height: 59px
$s-plus-image: 'img/sprite.png'
$s-plus: 32px 43px -32px -43px 14px 14px 72px 59px 'media/img/sprite.png'
$s-plus1-x: 37px
$s-plus1-y: 22px
$s-plus1-offset-x: -37px
$s-plus1-offset-y: -22px
$s-plus1-width: 17px
$s-plus1-height: 17px
$s-plus1-total-width: 72px
$s-plus1-total-height: 59px
$s-plus1-image: 'img/sprite.png'
$s-plus1: 37px 22px -37px -22px 17px 17px 72px 59px 'media/img/sprite.png'
$s-settings-x: 20px
$s-settings-y: 0px
$s-settings-offset-x: -20px
$s-settings-offset-y: 0px
$s-settings-width: 20px
$s-settings-height: 22px
$s-settings-total-width: 72px
$s-settings-total-height: 59px
$s-settings-image: 'img/sprite.png'
$s-settings: 20px 0px -20px 0px 20px 22px 72px 59px 'media/img/sprite.png'
$s-settings_h-x: 0px
$s-settings_h-y: 0px
$s-settings_h-offset-x: 0px
$s-settings_h-offset-y: 0px
$s-settings_h-width: 20px
$s-settings_h-height: 22px
$s-settings_h-total-width: 72px
$s-settings_h-total-height: 59px
$s-settings_h-image: 'img/sprite.png'
$s-settings_h: 0px 0px 0px 0px 20px 22px 72px 59px 'media/img/sprite.png'
$s-up-x: 59px
$s-up-y: 0px
$s-up-offset-x: -59px
$s-up-offset-y: 0px
$s-up-width: 13px
$s-up-height: 12px
$s-up-total-width: 72px
$s-up-total-height: 59px
$s-up-image: 'img/sprite.png'
$s-up: 59px 0px -59px 0px 13px 12px 72px 59px 'media/img/sprite.png'
$s-ya-x: 19px
$s-ya-y: 22px
$s-ya-offset-x: -19px
$s-ya-offset-y: -22px
$s-ya-width: 18px
$s-ya-height: 18px
$s-ya-total-width: 72px
$s-ya-total-height: 59px
$s-ya-image: 'img/sprite.png'
$s-ya: 19px 22px -19px -22px 18px 18px 72px 59px 'media/img/sprite.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
