extends ../base/base.jade

block title
	title Главная страница

block content
	// BEGIN HEADER
	header.header
		.container
			.top-line
				.top-line__logo
					.logo
						a(href="#").logo__link
								img(src="media/img/logo.png", alt="").logo__img
				.top-line__call
					.call
						a(href="tel:").call__link +7 (4832) 68-18-80
						.call__worktime по будням с 9:00 до 18:00
				.top-line__firm
					.firm
						select(name="firm").select.select_small
								option(value="ООО мирСк") ООО мирСк
								option(value="ООО мирСк") ООО мирСк
								option(value="ООО мирСк") ООО мирСк
								option(value="ООО мирСк") ООО мирСк
						a(href="#").btn.btn_icon-small
							i.icon.icon_plus.btn__icon
				.top-line__account
					.account
						.account__back
						.account__control
							.account__name Елена
							.account__dropdown
								hr.account__hr
								a(href="#").account__link
									i.icon.icon_settings
									| Настройка аккаунта
								a(href="#").account__link
									i.icon.icon_close
									| Выйти
		nav.nav
			.container
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Статистика
						a(href="#").nav__link Ход работы
						a(href="#").nav__link Поддержка
						a(href="#").nav__link Менеджеры
	// END HEADER

	// BEGIN COMPANY-LINE
	.company-line
		.container
			.company-line__control
				select(name="company").select.select_big
					option(value="itc-media.ru") itc-media.ru
					option(value="itc-media.ru") itc-media.ru
					option(value="itc-media.ru") itc-media.ru
					option(value="itc-media.ru") itc-media.ru
			.company-line__control
				a(href="#").btn.btn_icon
					i.icon.icon_pen
			.company-line__control
				a(href="#").btn.btn_icon
					i.icon.icon_del
			.company-line__control
				a(href="#").company-line__add
					i.icon.icon_plus1
					| Добавить сайт
	// END COMPANY-LINE

	// BEGIN CONTENT
	.container
		.content
			.content__title Статистика
			.tab-container
				ul.tab-nav
					li.tab-nav__item.tab-nav__item_green
						a(href="#tab-item-1").tab-nav__link Основная информация
					li.tab-nav__item.tab-nav__item_green
						a(href="#tab-item-2").tab-nav__link Посещаемость
					li.tab-nav__item.tab-nav__item_green
						a(href="#tab-item-3").tab-nav__link Ключевые фразы
				.tab#tab-item-1
					.attendance
						.block.block_gray
							.attendance-stage
								span.attendance-stage__text Период отчета:
								.attendance-block.attendance-block_icon 1 мая  2016 - 1 июня 2016
						.attendance-sort
							ul.attendance-sort__list
								li.attendance-sort__item
									span.attendance-sort__num 102
									| Все
								li.attendance-sort__item
									span.attendance-sort__num 102
									| топ 1
								li.attendance-sort__item
									span.attendance-sort__num 102
									| топ 3
								li.attendance-sort__item
									span.attendance-sort__num 102
									| топ 5
								li.attendance-sort__item
									span.attendance-sort__num 102
									| топ 10
								li.attendance-sort__item
									span.attendance-sort__num 102
									| топ 30
								li.attendance-sort__item
									span.attendance-sort__num 102
									| 100
								li.attendance-sort__item.attendance-sort__item_top (27)
								li.attendance-sort__item.attendance-sort__item_down (16)

							select(name="").attendance-sort__select
								option(value="Все  ПС") Все  ПС
								option(value="Все  ПС") Все  ПС
								option(value="Все  ПС") Все  ПС
								option(value="Все  ПС") Все  ПС

					.attendance__title
						i.icon.icon_ya
						| Яндекс Россия Брянск
					
					.tabel-container
						tabel.tabel
							thead.tabel__head
								tr
									td
									.checkbox
										label(for="checkbox-id-1").checkbox__label
										input(type="checkbox").checkbox__input#checkbox-id-1
									th Запрос
									td URL
										a(href="#").question
											i.icon.icon_question
									td 26-Июл
									td 02-август
									td 09-Август
									td 16-Август
									td Всего
							tbody.tabel__body
								tr
									td
										.checkbox.checkbox_blue
											label(for="checkbox-id-1").checkbox__label
											input(type="checkbox").checkbox__input#checkbox-id-1
									th компьютерная помощь
									td
										a(href="#").link
											i.icon.icon_link
									td 23 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											label(for="checkbox-id-1").checkbox__label
											input(type="checkbox").checkbox__input#checkbox-id-1
									th компьютерная помощь
									td
										a(href="#").link
											i.icon.icon_link
									td 23 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											label(for="checkbox-id-1").checkbox__label
											input(type="checkbox").checkbox__input#checkbox-id-1
									th компьютерная помощь
									td
										a(href="#").link
											i.icon.icon_link
									td 23 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											label(for="checkbox-id-1").checkbox__label
											input(type="checkbox").checkbox__input#checkbox-id-1
									th компьютерная помощь
									td
										a(href="#").link
											i.icon.icon_link
									td 23 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											label(for="checkbox-id-1").checkbox__label
											input(type="checkbox").checkbox__input#checkbox-id-1
									th компьютерная помощь
									td
										a(href="#").link
											i.icon.icon_link
									td 23 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 23
										i.icon.icon_up
										| 2 <br>0 р.
									td 0 р.
						.total Всего:
							span.total__num 0р.

					.block.block_blue
						p Напомним, что мы настоятельно не рекомендуем точечно влиять на ранжирование поисковых систем по мем или иным запросам. <br>Просьба ознакомиться с лицензиями поисковых систем:
					.row
						.col-6
							h3 Справка Google
							.block.block_gray
								p Чтобы показать заказчику эскизы, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? Рыбу. 
								p Рыбу можно вставлять, использовать, вешать, заливать, показывать, запихивать...
								
								a(href="#") Читать полностью
							img(src="media/img/ya.png", alt="")
						.col-6
							h3 Справка Google
							.block.block_gray
								p Чтобы показать заказчику эскизы, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? Рыбу. 
								p Рыбу можно вставлять, использовать, вешать, заливать, показывать, запихивать...
								
								a(href="#") Читать полностью
							img(src="media/img/google.png", alt="")
				.tab#tab-item-1
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Меня не, рукописи на берегу города родного путь. То, взгляд за.
	// END CONTENT

	// BEGIN FOOTER
	footer.footer
		.container
			.footer__block
				p ©2016 СRM
					br
					a(href="#") Условия использования
			.footer__block
				p  8 800 700-87-31 
					br
					a(href="#") Обратный звонок
			.footer__block
				p
					a(href="mailto:support@CRM.ru").email support@CRM.ru
	// END FOOTER