extends ../base/content.jade

block title
	title Статистика

block content-title
	| Статистика

block content
	.tab-container
		ul.tab-nav
			li.tab-nav__item.tab-nav__item_green
				a(href="#tab-item-1").tab-nav__link Основная информация
			li.tab-nav__item.tab-nav__item_green
				a(href="#tab-item-2").tab-nav__link Посещаемость
			li.tab-nav__item.tab-nav__item_green
				a(href="#tab-item-3").tab-nav__link Ключевые фразы
		.tab#tab-item-1
			.statistic
				.block.block_gray
					.statistic-stage
						.statistic-stage__report
							span.statistic-stage__text Отчетный период
							.period-block.active 1 мая 2016 - 1 июня 2016
							.period-block 1 мая 2016 - 1 июня 2016
							.period-block 1 мая 2016 - 1 июня 2016
						.statistic-stage__opt
							span.statistic-stage__text Выбрать период
							input(type="text").period-block.period-block_border.period-block_white.datetimepiker

			.table-container
				table.table-statistic
					thead.table-statistic__head
						tr
							th(rowspan=2) Параметры
							td(colspan=3) Период
						tr
							td.table-statistic__period 25 июля 2015<br>-<br>25 июлю 2015
								.table-statistic__del
									i.icon.icon_del2
								.table-statistic__icon-group
									i.icon.icon_hammer
									i.icon.icon_list
							td.table-statistic__period 25 июля 2015<br>-<br>25 июлю 2015
								.table-statistic__del
									i.icon.icon_del2
								.table-statistic__icon-group
									i.icon.icon_list
							td.table-statistic__period 25 июля 2015<br>-<br>25 июлю 2015
								.table-statistic__del
									i.icon.icon_del2
								.table-statistic__icon-group
									i.icon.icon_list
						tr
							td.table__indent

					tbody.table-statistic__body
						tr
							th.table-statistic__title(colspan=4) Цели
						tr
							th Выполнение целей
								.question
									a(href="javascript:void(0);").question__link
										i.icon.icon_question
									.question__tooltip Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
							td 8
							td 345<br>12345
							td 345<br>12345
						tr
							td.table__indent
						tr
							th.table-statistic__title Поведенческие показатели
							td 
							td 
							td 
						tr
							th Посещения
							td 
							td 
							td 
						tr
							th Просмотры страниц
							td 
							td 
							td 
						tr
							th Уникальные просмотры страниц
							td 
							td 
							td 
						tr
							th Посетители
							td 
							td 
							td 
						tr
							th Новые посетители
							td 
							td 
							td 
						tr
							th Просмотренных страниц за посещение
							td 
							td 
							td 
						tr
							th Отказы
							td 
							td 
							td 
						tr
							th Процент отказов
							td 
							td 
							td 
						tr
							th Среднее время на сайте
							td 
							td 
							td 
						tr
							th Время проведенное на сайте
							td 
							td 
							td 
						tr
							th Среднее колличество уникальных запросов в сутки
							td 
							td 
							td 

		.tab#tab-item-2
			.attendance
				.block.block_gray
					.period-stage
						span.period-stage__text Период отчета:
						
						input(type="text").period-block.period-block_icon.period-block_border.period-block_white.datetimepiker
				.attendance-sort
					ul.attendance-sort__list
						li.attendance-sort__item.active
							span.attendance-sort__num 102
							| Все
						li.attendance-sort__item
							span.attendance-sort__num 102
							| топ 1
						li.attendance-sort__item
							span.attendance-sort__num 102
							| топ 3
						li.attendance-sort__item
							span.attendance-sort__num 102
							| топ 5
						li.attendance-sort__item
							span.attendance-sort__num 102
							| топ 10
						li.attendance-sort__item
							span.attendance-sort__num 102
							| топ 30
						li.attendance-sort__item
							span.attendance-sort__num 102
							| 100
						li.attendance-sort__item
							i.icon.icon_up
							|  (27)
						li.attendance-sort__item
							i.icon.icon_down
							|  (16)
					.attendance-sort__select
						select(name="").select.select_small#select_sort
							option(value="Все  ПС") Все  ПС
							option(value="Все  ПС1" data-data='{"icon": "ya"}') Все  ПС
							option(value="Все  ПС2" data-data='{"icon": "ya"}') Все  ПС
							option(value="Все  ПС3" data-data='{"icon": "google"}') Все  ПС

				.attendance__title
					i.icon.icon_ya
					| Яндекс Россия Брянск
				
				.table-container
					.table-wraper
						table.table
							thead.table__head
								tr
									td
										.checkbox
											input(type="checkbox").checkbox__input#checkbox-id-1
											label(for="checkbox-id-1").checkbox__label
									th Запрос
									td.table__url
										span URL
										.question
											a(href="javascript:void(0);").question__link
												i.icon.icon_question
											.question__tooltip Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
									td 26-Июл
									td 02-август
									td 09-Август
									td 16-Август
									td.table__total Всего
								tr
									td.table__indent
							tbody.table__body
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-2
											label(for="checkbox-id-2").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-3
											label(for="checkbox-id-3").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-4
											label(for="checkbox-id-4").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-5
											label(for="checkbox-id-5").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-6
											label(for="checkbox-id-6").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up.attendance-mark_good 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up.attendance-mark_bad 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.
								tr
									td
										.checkbox.checkbox_blue
											input(type="checkbox").checkbox__input#checkbox-id-7
											label(for="checkbox-id-7").checkbox__label
									th компьютерная помощь Брянск
									td 
										a(href="#" title="http://sinelnikovd.ru/").icon-link
											i.icon.icon_link
									td
										.attendance-mark 23
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_up 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td
										.attendance-mark.attendance-mark_down 23 
											i.icon.attendance__icon
											|  2
											br
											| 0 р.
									td 0 р.

							
						.total Всего:
							span.total__num  0р.

				.block.block_border-blue.attendance__block
					p Напомним, что мы настоятельно не рекомендуем точечно влиять на ранжирование поисковых систем по мем или иным запросам. <br>Просьба ознакомиться с лицензиями поисковых систем:
					.row
						.col-6
							h3 Лицензия Яндекса
							.block.block_gray
								p Чтобы показать заказчику эскизы, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? Рыбу. 
								p Рыбу можно вставлять, использовать, вешать, заливать, показывать, запихивать...
								
								a(href="#").link Читать полностью
							img(src="media/img/ya.png", alt="")
						.col-6
							h3 Справка Google
							.block.block_gray
								p Чтобы показать заказчику эскизы, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? Рыбу. 
								p Рыбу можно вставлять, использовать, вешать, заливать, показывать, запихивать...
								
								a(href="#").link Читать полностью
							img(src="media/img/google.png", alt="")
		.tab#tab-item-3
			p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Меня не, рукописи на берегу города родного путь. То, взгляд за.

