extends ../base/content.jade

block title
	title Ход работы

block content-title
	| Ход работы

block content
	.works
		.works__title Последние комментарии специалистов
		// BEGIN WORK 
		.work
			.work__control
				.link-icon__group
					a(href="#").link-icon
						i.icon.icon_pen
					a(href="#").link-icon
						i.icon.icon_del
			.work__photo
				img(src="media/images/person1.jpg", alt="")
			.work__body
				.work__title
					| Руслан Тишков, Project Manager 
					span.work__date 06 мая 2014, 13:00
				.work__text
					p Иногда даже хорошие дизайнеры не утруждают себя набиванием абстрактного текста, а вписывают три-четыре слова (пример в левой колонке). 

					p Это очень плохо, потому что не позволяет зрителю оценить, как на самом деле будет выглядеть текст. Повторяющийся паттерн (узор) текста — один из самых плохих эффектов при показе дизайна. 07 Текст ни о чем (пример в средней колонке) — хороший способ попытаться сосредоточить внимание заказчика на дизайне, форме, верстке, цвете. Некоторые вместо текста вставляют философскую бессмыслицу. Так как читать такой текст неинтересно, то все внимание переключится на детали оформления. Замечательный генератор гироскопическо-почвоведческого бреда работает по адресу referats.yandex.ru
		// END WORK 
		// BEGIN WORK 
		.work
			.work__control
				.link-icon__group
					a(href="#").link-icon
						i.icon.icon_pen
					a(href="#").link-icon
						i.icon.icon_del
			.work__photo
				img(src="media/images/person1.jpg", alt="")
			.work__body
				.work__title
					| Руслан Тишков, Project Manager 
					span.work__date 06 мая 2014, 13:00
				.work__text
					p Иногда даже хорошие дизайнеры не утруждают себя набиванием абстрактного текста, а вписывают три-четыре слова (пример в левой колонке). 

					p Это очень плохо, потому что не позволяет зрителю оценить, как на самом деле будет выглядеть текст. Повторяющийся паттерн (узор) текста — один из самых плохих эффектов при показе дизайна. 07 Текст ни о чем (пример в средней колонке) — хороший способ попытаться сосредоточить внимание заказчика на дизайне, форме, верстке, цвете. Некоторые вместо текста вставляют философскую бессмыслицу. Так как читать такой текст неинтересно, то все внимание переключится на детали оформления. Замечательный генератор гироскопическо-почвоведческого бреда работает по адресу referats.yandex.ru
		// END WORK 
		.works__add-cooment
			.works__add-cooment-title Добавить комментарий
			form(action="/", method="post", enctype="multipart/form-data").form
			.form__line
				textarea(name="", rows="14").textarea-tiny
			.form__line.form__line_top
				button(type="submit").btn.btn_orange Отправить