@import "bourbon"
@import "helpers/_reset.sass"
@import "basic/sprite.sass"
@import "basic/fonts.sass"
@import "basic/vars/font-size.sass"
@import "basic/vars/color.sass"
@import "libs/selectize.sass"
@import "libs/tooltipster.sass"
@import "libs/daterangepicker.sass"
//---addSmartScript---//

*::-webkit-input-placeholder
	color: #424242
	opacity: 1


*:-moz-placeholder
	color: #424242
	opacity: 1

*::-moz-placeholder
	color: #424242
	opacity: 1

*:-ms-input-placeholder
	color: #424242
	opacity: 1

*
	outline: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #424242

body input:required:valid,
body textarea:required:valid
	color: #424242

html
	height: 100%

body
	font-size: 15px
	min-width: 1200px
	position: relative
	line-height: 1.24
	@extend %regural
	font-weight: normal
	color: $c1
	background-color: $c3
	height: 100%

.container
	width: 1165px
	padding: 0 15px
	margin: 0 auto

.page
	min-height: 100%
	height: auto
	padding-bottom: 90px
	box-sizing: border-box


@import "helpers/icon.sass"
@import "helpers/form.sass"
@import "blocks/header.sass"
@import "blocks/company-line.sass"
@import "blocks/alert.sass"
@import "blocks/manager.sass"
@import "blocks/footer.sass"

.selectize-input
	border: 1px solid rgba($c7,.4)
	border-radius: 3px
	box-shadow: none
	&.full
		background-color: transparent
	&:hover,
	&.dropdown-active
		border-color: $c2
.selectize-dropdown 
	border: 1px solid $c2

.selectize-control
	&.single
		.selectize-input
			&:after
				border: 0 none
				border-bottom: 2px solid $c8
				border-right: 2px solid $c8
				+transform(rotate(45deg) translateY(-50%))
				+transition(all .3s ease-in-out)
				+size(7px)
			&.dropdown-active
				&:after
					margin-top: -3px
					right: 10px
					top: 15px
					border: 0 none
					border-bottom: 2px solid $c8
					border-right: 2px solid $c8
					+transform(rotate(-135deg) translateY(-50%))
					+size(7px)
















.content
	background-color: #fff
	border-radius: 5px
	padding: 20px 30px
	&__title
		font-size: 29px
		@extend %proximabold
		line-height: 1.15
		margin-bottom: 20px

.tab-nav
	border-top: 1px solid rgba($c7,.4)
	border-bottom: 1px solid rgba($c7,.4)
	font-size: 0
	&__item
		display: inline-block
		&_green
			.tab-nav__link
				border-color: $c10
		&_orange
			.tab-nav__link
				border-color: $c14
	&__link
		font-size: 17px
		color: $c1
		display: block
		padding: 8px 30px 12px
		margin-bottom: -1px
		text-decoration: none
		&.active
			border-bottom-width: 3px
			border-style: solid
			padding-bottom: 9px

.tab
	padding: 20px 0 30px

.block
	margin: 20px 0
	padding: 15px 15px
	&_gray
		background-color: $c3
		border-radius: 5px
		border: 1px solid #f0f0f0
	&_border
		&-blue
			border: 2px solid $c2
			border-radius: 3px
		&-gray
			border: 1px solid #c6c6c6
			border-radius: 5px



.attendance-stage
	text-align: right
	&__text
		font-size: 18px

.attendance-block
	display: inline-block
	margin: 0 6px
	height: 38px
	font-size: 15px
	box-sizing: border-box
	padding: 9px 20px

	&_icon
		background-image: url(media/img/attendance.png)
		background-repeat: no-repeat
		background-position: 10px 10px
		padding-left: 30px
	&_border
		border: 1px solid rgba($c7,.4)
		border-radius: 3px
		color: $c8
	&_white
		background-color: #fff
	&.datetimepiker
		min-width: 300px

.attendance-sort
	+clearfix
	&__list
		float: left
		padding-bottom: 35px
		+clearfix
	&__item
		float: left
		font-size: 16px
		border: 1px solid rgba($c7,.4)
		border-left: 0
		padding: 9px 18px
		position: relative
		cursor: pointer
		&:first-child
			border-left: 1px solid rgba($c7,.4)
			border-radius: 3px 0 0 3px
		&:last-child
			border-radius: 0 3px 3px 0
		&:hover,
		&.active
			background-color: $c3
			color: $c4
	&__num
		position: absolute
		top: 125%
		left: 0
		right: 0
		text-align: center
		color: $c6
		font-size: 14px
	&__select
		float: right
		width: 30%
		.icon
			vertical-align: middle
			margin-right: 10px
		.val
			vertical-align: middle

.attendance
	&__title
		margin: 30px 0 15px
		font-size: 25px
		@extend %proximasemibold
		.icon
			margin-right: 15px
	&__block
		padding: 50px
		p
			font-size: 15px
			padding: 15px 0
			&:first-child
				padding-top: 0
		h3
			font-size: 21px
			@extend %bold
		.row
			margin-top: 40px
		.col-6
			padding-left: 15px
			box-sizing: border-box
			&:first-child
				padding-left: 0
				padding-right: 15px

.row
	+clearfix
.col-6
	float: left
	width: 50%

.link
	color: $c2

.table-container
	width: 100%
	overflow-x: scroll
	overflow-y: hidden
.table
	border-collapse: separate
	td,th
		vertical-align: middle
	td
		text-align: center
	th
		text-align: left
		min-width: 250px
	&__total
		min-width: 80px
	&__url
		min-width: 100px
		span
			vertical-align: middle
	&__head
		tr:first-child
			td,th
				background-color: $c3
				border-top: 1px solid #f0f0f0
				border-bottom: 1px solid #f0f0f0
				padding: 10px
			td:first-child
				border-radius: 5px 0 0 5px
				border-left: 1px solid #f0f0f0
			td:last-child
				border-radius: 0 5px 5px 0
				border-right: 1px solid #f0f0f0

	&__body
		tr
			&:hover
				td,th
					background-color: #d7ecfa
		td,th
			background-color: #f9f9f9
			border-top: 1px solid #e1e1e1
			padding: 10px 15px
		td:first-child
			border-left: 1px solid #f0f0f0
		td:last-child
			border-right: 1px solid #f0f0f0
		tr:first-child
			th,td
				border-color: #f0f0f0
			td:first-child
				border-radius: 5px 0 0 0
				border-left: 1px solid #f0f0f0
			td:last-child
				border-radius: 0 5px 0 0
				border-right: 1px solid #f0f0f0
		tr:last-child
			td,th
				border-bottom: 1px solid #f0f0f0
			td:first-child
				border-radius: 0 0 0 5px
				border-left: 1px solid #f0f0f0
			td:last-child
				border-radius: 0 0 5px 0
				border-right: 1px solid #f0f0f0
	&__indent
		height: 3px


.attendance-mark
	text-align: left
	padding: 15px 30px
	border-radius: 3px
	min-width: 120px
	text-align: center
	box-sizing: border-box
	&_up
		color: $c10
		.attendance__icon
			@extend .icon_up
	&_down
		color: $c11
		.attendance__icon
			@extend .icon_down
	&_good
		background-color: $c12
	&_bad
		background-color: $c13



.checkbox
	border-left: 5px solid transparent
	padding-left: 5px
	display: inline-block
	vertical-align: middle
	&_blue
		border-color: #728acd
	&__input
		display: none
		&:checked
			&+ .checkbox__label
				background-image: url(media/img/check.png)
				background-repeat: no-repeat
				background-position: 3px 5px
	&__label
		+size(20px)
		border: 1px solid rgba(#000,.15)
		display: inline-block
		vertical-align: middle
		border-radius: 2px
		cursor: pointer
		background-color: #fff



.question
	display: inline-block
	margin-left: 10px
	vertical-align: middle
	position: relative
	&__link
		display: block
		&:hover
			.icon_question
				@extend .icon_question_h
	&__tooltip
		display: none
		position: absolute
		top: -5px
		left: 100%
		background-color: #fff
		border-radius: 5px
		border: 1px solid $c7
		margin-left: 5px
		width: 150px
		color: $c7
		font-size: 13px
		box-sizing: border-box
		padding: 8px 10px
		text-align: left
		&:after
			content: ''
			position: absolute
			top: 10px
			left: -5px
			+size(7px)
			+transform(rotate(45deg))
			border-bottom: 1px solid $c7
			border-left: 1px solid $c7
			background-color: #fff


.table-wraper
	display: table

.total
	width: 100%
	padding: 10px 0
	text-align: right
	font-size: 25px
	&__num
		font-size: 36px
		color: #c1c1c1

.icon-link
	&:hover
		.icon_link
			@extend .icon_link_h


.tooltipster-sidetip.tooltipster-customized
	.tooltipster-box
		background-color: #fff
		border-radius: 5px
		border: 1px solid $c7
	.tooltipster-content
		padding: 8px 10px
		color: $c7
		font-size: 13px
	.tooltipster-arrow
		height: 10px
		margin-left: -10px
		width: 22px
	&.tooltipster-left .tooltipster-arrow,
	&.tooltipster-right .tooltipster-arrow
		height: 20px
		margin-left: 0
		margin-top: -10px
		width: 11px
	.tooltipster-arrow-background
		border: 11px solid transparent
	&.tooltipster-bottom .tooltipster-arrow-background
		border-bottom-color: #fff
		top: 1px
	&.tooltipster-left .tooltipster-arrow-background
		border-left-color: #fff
		left: -1px
	&.tooltipster-right .tooltipster-arrow-background
		border-right-color: #fff
		left: 1px
	&.tooltipster-top .tooltipster-arrow-background
		border-top-color: #fff
		top: -1px
	.tooltipster-arrow-border
		border-top-color: $c7
		border-width: 11px
	&.tooltipster-bottom .tooltipster-arrow-uncropped
		top: -10px
	&.tooltipster-right .tooltipster-arrow-uncropped
		left: -10px


@import "pages/support.sass"

.hr
	margin: 0
	border: 0
	border-bottom: 1px solid rgba($c7,.4)

.link-icon
	display: inline-block
	padding: 5px
	vertical-align: middle
	&__group
		display: inline-block
		vertical-align: middle
		margin-left: 10px

//ALWAYS END
//@import "basic/_media.sass"
