@import "bourbon"
@import "helpers/_reset.sass"
@import "basic/sprite.sass"
@import "basic/fonts.sass"
@import "basic/vars/font-size.sass"
@import "basic/vars/color.sass"
@import "libs/selectize.sass"
//---addSmartScript---//

*::-webkit-input-placeholder
	color: #424242
	opacity: 1


*:-moz-placeholder
	color: #424242
	opacity: 1

*::-moz-placeholder
	color: #424242
	opacity: 1

*:-ms-input-placeholder
	color: #424242
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #424242

body input:required:valid,
body textarea:required:valid
	color: #424242

body
	font-size: 15px
	min-width: 1200px
	position: relative
	line-height: 1.24
	@extend %regural
	font-weight: normal
	overflow-x: hidden
	color: $c1
	background-color: $c3

.container
	width: 1165px
	padding: 0 15px
	margin: 0 auto

/* icon */
.icon
	display: inline-block
	vertical-align: middle
	&_plus
		+sprite($s-plus)
	&_settings
		+sprite($s-settings)
	&_settings_h
		+sprite($s-settings_h)
	&_close
		+sprite($s-close)
	&_close_h
		+sprite($s-close_h)
	&_pen
		+sprite($s-pen)
	&_del
		+sprite($s-del)
	&_plus1
		+sprite($s-plus1)
	&_up
		+sprite($s-up)
	&_down
		+sprite($s-down)
	&_ya
		+sprite($s-ya)
/* end icon */

.selectize-input
	border: 1px solid rgba($c7,.4)
	border-radius: 3px
	box-shadow: none
	&.full
		background-color: transparent
	&:hover,
	&.dropdown-active
		border-color: $c2
.selectize-dropdown 
	border: 1px solid $c2

.selectize-control
	&.single
		.selectize-input
			&:after
				border: 0 none
				border-bottom: 2px solid $c8
				border-right: 2px solid $c8
				+transform(rotate(45deg) translateY(-50%))
				+transition(all .3s ease-in-out)
				+size(7px)
			&.dropdown-active
				&:after
					margin-top: -3px
					right: 10px
					top: 15px
					border: 0 none
					border-bottom: 2px solid $c8
					border-right: 2px solid $c8
					+transform(rotate(-135deg) translateY(-50%))
					+size(7px)

.btn
	border: 1px solid rgba($c7,.4)
	border-radius: 3px
	cursor: pointer
	display: inline-block
	vertical-align: middle
	position: relative
	text-align: center
	&:hover
		border-color: $c2
	&_icon-small
		+size(37px)
	&_icon-big
		+size(47px)
	&__icon
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto


.logo
	&__link
		display: block

.call
	color: $c5
	padding-left: 12px
	&__link
		font-size: 24px
		line-height: 1
		color: $c4
		text-decoration: none
	&__worktime
		margin-top: 2px

.firm
	&__select
		@extend %circe
		font-size: 14px
		color: $c8
		width: 197px
		display: inline-block
		vertical-align: top
		margin-right: 5px
		.selectize-input
			height: 39px
			padding-top: 10px
	.btn
		vertical-align: top

.account
	width: 244px
	text-align: left
	position: relative
	&__name
		height: 53px
		border: 1px solid rgba($c7,.4)
		border-radius: 3px
		background-image: url(media/img/person.jpg)
		background-repeat: no-repeat
		background-position: 10px 13px
		padding: 17px 10px 10px 53px
		box-sizing: border-box
		@extend %proximabold
		font-size: 16px
		cursor: pointer
		&:hover
			border-color: $c2
	&__dropdown
		display: none
		position: absolute
		top: 100%
		left: 0
		right: 0
		z-index: 20
		border-left: 2px solid $c2
		border-right: 2px solid $c2
		border-bottom: 2px solid $c2
		padding: 0 10px 15px
		border-radius: 0 0 5px 5px
		background-color: #fff
	&__link
		padding: 15px 0 0
		display: block
		color: $c9
		text-decoration: none
		&:hover
			color: $c2
			.icon_settings
				@extend .icon_settings_h
			.icon_close
				@extend .icon_close_h
	&__icon
		margin-right: 20px
	&__hr
		margin: 0
		border: 0
		border-bottom: 1px solid rgba($c7,.4)
	&__back
		display: none
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 18
		cursor: pointer
	&:hover
		border-color: $c2
	&.active
		.account__name
			background-color: #fff
			border-color: $c2
			border-width: 2px
			border-bottom: 0
			border-radius: 5px 5px 0 0
		.account__dropdown
			display: block
		.account__back
			display: block

.top-line
	padding: 35px 0 0
	+clearfix
	&__logo
		float: left
		width: 21.5%
	&__call
		float: left
		width: 20.5%
		border-left: 1px solid $c2
	&__firm
		float: left
		width: 30%
		padding-top: 2px
	&__account
		float: right

.nav
	margin-top: 10px
	border-bottom: 1px solid rgba($c7,.4)
	font-size: 0
	&__item
		display: inline-block
		margin-bottom: -1px
		&.active
			.nav__link
				border-bottom: 3px solid $c2
				color: $c2
				padding-bottom: 9px
			&:hover
				.nav__link
					border-bottom: 3px solid $c2
					color: $c2
					padding-bottom: 9px
		&:hover
			.nav__link
				color: $c2
				border-bottom: 1px solid $c2
	&__link
		display: block
		padding: 11px 40px
		font-size: 18px
		color: $c9
		text-decoration: none
		box-sizing: border-box


.footer
	color: $c6
	font-size: 13px
	padding: 28px 0
	&__block
		display: inline-block
		padding-left: 30px
		padding-right: 25px
		vertical-align: top
		position: relative
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			+size(1px 40px)
			background-color: $c6
		&:first-child
			padding-left: 0
			&:after
				display: none
	&__link
		color: $c6
		&:hover,
		&_noline
			text-decoration: none





.company-line
	padding: 30px 0 15px
	&__select
		display: inline-block
		width: 32%
		.selectize-input
			height: 50px
	&__btn
		display: inline-block
		margin-left: 4px
		vertical-align: top
		.btn
			vertical-align: top
	&__add-site
		vertical-align: top
		display: inline-block
		margin-left: 20px
.add-site
	vertical-align: middle
	font-size: 17px
	text-decoration: none
	color: $c4
	display: block
	padding: 18px 50px
	&:hover
		color: $c2
	&__icon
		margin-right: 15px


.content
	background-color: #fff
	border-radius: 5px
	padding: 20px 30px
	&__title
		font-size: 25px
		@extend %proximasemibold
		line-height: 1.15
		margin-bottom: 20px

.tab-nav
	border-top: 1px solid rgba($c7,.4)
	border-bottom: 1px solid rgba($c7,.4)
	font-size: 0
	&__item
		display: inline-block
		&_green
			.tab-nav__link
				border-color: $c10
	&__link
		font-size: 17px
		color: $c1
		display: block
		padding: 8px 30px 12px
		margin-bottom: -1px
		text-decoration: none
		&.active
			border-bottom-width: 3px
			border-style: solid
			padding-bottom: 9px

.block
	margin: 20px 0
	padding: 15px 15px
	&_gray
		background-color: $c3
		border-radius: 5px


.attendance-stage
	text-align: right
	&__text
		font-size: 18px

.attendance-block
	display: inline-block
	margin: 0 6px
	height: 38px
	font-size: 15px
	box-sizing: border-box
	padding: 9px 20px
	&_icon
		background-image: url(media/img/attendance.png)
		background-repeat: no-repeat
		background-position: 10px 10px
		padding-left: 30px
	&_border
		border: 1px solid rgba($c7,.4)
		border-radius: 3px
		color: $c8

.attendance-sort
	+clearfix
	&__list
		float: left
		padding-bottom: 35px
		+clearfix
	&__item
		float: left
		font-size: 16px
		border: 1px solid rgba($c7,.4)
		border-left: 0
		padding: 9px 18px
		position: relative
		cursor: pointer
		&:first-child
			border-left: 1px solid rgba($c7,.4)
			border-radius: 3px 0 0 3px
		&:last-child
			border-radius: 0 3px 3px 0
	&__num
		position: absolute
		top: 125%
		left: 0
		right: 0
		text-align: center
		color: $c6
	&__select
		float: right
		width: 30%

.attendance__title
	margin: 30px 0 15px
	font-size: 25px
	@extend %proximasemibold
	.icon
		margin-right: 15px

.tabel-header
	background-color: $c3
	border-radius: 5px
	overflow: hidden
	td,
	th
		padding: 10px

th
	font-size: 16px

.checkbox
	border-left: 5px solid transparent
	padding-left: 5px
	display: inline-block
	vertical-align: middle
	&_blue
		border-color: #728acd
	&__input
		display: none
	&__label
		+size(20px)
		border: 1px solid rgba(#000,.15)
		display: inline-block
		border-radius: 2px
		cursor: pointer





//ALWAYS END
@import "basic/_media.sass"
