// BEGIN COMPANY-LINE
.company-line
	.container
		.company-line__select
			select(name="company").select.select_big#select_company
				option(value="itc-media.ru" data-data='{"stat":true}') itc-media.ru
				option(value="itc-media.ru1" data-data='{"stat":true}') itc-media.ru
				option(value="itc-media.ru2" data-data='{"stat":false}') itc-media.ru
				option(value="itc-media.ru3" data-data='{"stat":true}') itc-media.ru
		.company-line__btn
			a(href="#").btn.btn_icon.btn_icon-big
				i.icon.icon_pen.btn__icon
		.company-line__btn
			a(href="#").btn.btn_icon.btn_icon-big.btn_icon-red
				i.icon.icon_del.btn__icon
		.company-line__add-site
			a(href="#").add-site
				i.icon.icon_plus1.add-site__icon
				| Добавить сайт
// END COMPANY-LINE