// BEGIN FOOTER
footer.footer
	.container
		.footer__block
			p ©2016 СRM
				br
				a(href="#").footer__link Условия использования
		.footer__block
			p 
				a(href="tel:8 800 700-87-31").footer__link.footer__link_noline 8 800 700-87-31 
				br
				a(href="#").footer__link Обратный звонок
		.footer__block
			p
				a(href="mailto:support@CRM.ru").footer__link.footer__link_noline support@CRM.ru
// END FOOTER