.manager
	.manager__img
	.manager__name Семен Фролов
	.manager__position главный менеджер
	.manager__btn-group
			a(href="#").btn.btn_icon.btn_icon-big
				i.icon.icon_pen.btn__icon
			a(href="#").btn.btn_icon.btn_icon-big.btn_icon-red
				i.icon.icon_del.btn__icon